<h1>Consumption List</h1>

<md-list>
    <md-list-item>Item 1</md-list-item>
    <md-list-item>Item 2</md-list-item>
    <md-list-item>Item 3</md-list-item>
</md-list>

<div class="add-consumption-container">
    <consumption-detail></consumption-detail>
</div>

<!--
<div class="grid grid-pad">
    <a *ngFor="let hero of heroes" [routerLink]="['/detail', hero.id]" class="col-1-4">
        <div class="module hero">
            <h4>
                {{hero.name}}
            </h4>
        </div>
    </a>
</div>
-->